/* ========================== Component Name ========================== */
$component: .cta-10;

/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */

$(component) {
  @apply relative w-full my-8 mx-auto;

  &__wrap {
    @apply flex relative w-full mx-auto py-24 px-12 max-w-screen-md text-wire-dark text-center;
    flex-wrap: wrap;

    & > * {
      width: 100%;
    }
  }

  &__text {
    @apply text-wire-gray;
    margin-top: 1.5rem;
  }

  &__phone {
    margin-top: 2rem;
  }

  &__email {
    margin-top: 1rem;
  }

  &__social {
    margin-top: 2rem;
  }

  &__social-icon {
    display: inline-block;
  }

  /* ========================== Modifiers ========================== */

  /* ========================== Breakpoints ========================== */

  @screen sm {

  }

  @screen md  {

  }

  @screen lg  {

  }

  @screen xl  {

  }

  @screen xxl  {

  }

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
}

/* ========================== INSTANCE OVERRIDES ========================== */

$(component).someClass {
  
  $(component)__wrap {
    
  }
}
